/* Custom classlar uchun misol: */

.newsletter-input {
  border: 1px solid #ccc;
  outline: none;
}

.newsletter-input:focus {
  border-color: #46A358;
}

.footer-divider {
  border-color: #99a49b;
}

.social-icon:hover {
  background-color: #46A358;
  transition: background-color 0.3s ease;
}

.payment-icon:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
